<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/stations/date</p>
    <p>URL example for one station all dates: http://127.0.0.1:5000/api/v1/10</p>
    <p>URL example for one station one data: http://127.0.0.1:5000/api/v1/10/1988-06-13</p>
    <p>URL example for one station in one year: http://127.0.0.1:5000/api/v1/annual/10/1988</p>
    <p>{{data|safe}}</p>
</body>
</html>
